.tile {
	border: solid 1px $oil;
	background: $jet;
	min-width: 20px;
	min-height: 20px;
	flex: 0 1 20px;
	text-align: center;
	font-size: modular-scale(-3);
	vertical-align: center;
	// color: transparentize(red, .8);
	color: transparent;

	@include elem('cell') {
		// border: solid 1px transparentize($youtube-red, .5);
		background: $soundcloud-orange;
		outline: red;
		// box-shadow: 0 0 5px 2px $snapchat-yellow;
		border-radius: 2px;
	}
	
}